*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
    padding: 0;
    margin-bottom: 0;
}
:root
{
--maincolor:#6c05bbf5;

}
body
{
background-color: #080808;
color: #fff;

}
header
{
    height: 60vh;
    background-color: rgb(8, 8, 9);
    background-position: center;
    justify-content: space-between;
   color: rgb(194, 201, 201);
   margin : 0;
   padding : 10px 20px;
   top : 0;
   right : 0;
   left :0;
   z-index: 2000;  
}
.container
{
    padding:10px 5%;
}
.navbar
{
    display: flex;
    align-items: center;
justify-content: space-between;
flex-wrap: nowrap;
}

.logo
{
    font-size: 30px;
    left: 0;
}
nav ul li
{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}
nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    height:3px;
    background:#6c05bbf5 ;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after
{
    width: 100%;
}
.header-text
{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1
{
    font-size: 40px;
    margin-top: 15px;
}
/* about section */
#about{
    padding: 80px 0;
    color:#ababab;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.about-col1{
    flex-basis:35% ;
}
.about-col1 img{
    width: 80%;
    border-radius:15px ;
    margin-left: 22px;
}
.about-col2{
    flex-basis: 63%;
}
.subtitle
{
    font-size: 50px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--maincolor);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:var(--maincolor);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-------- Portfolio --------*/
#Portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s ;
}
.layer{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),var(--maincolor));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: var(--maincolor);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background:#fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.05);
}
.work:hover .layer{
    height: 100%;
}
/* Contact section */
.contact-left{
    flex-basis:35% ;
}
.contact-right{
    flex-basis:60% ;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: var(--maincolor);
    margin-right: 15px ;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
}
.social-icons a:hover{
    transform: scale(1.1);
    color: #ababab;
    transition-behavior: smooth;
    transition: 0.5s;
}
.btn{
    display: inline-block;
    background: var(--maincolor);
    color:#fff;
    text-decoration: none;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px; 
}
.btn:hover{
    transform: scale(1.1);
    transform-style: smooth;
    transition: 0.5s;
}
.contact-right form{
    width:100%;   
}
form input,form textarea{
    width: 100%;
    border:0;
    outline: none;
    background-color: #262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius: 6px;
}
form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top:20px;
}
/* CSS for small screen */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
.header-text{
    margin-top: 20%;
    font-size: 16px;
}
.header-text h1{
    font-size: 30px;
}
nav .fa-solid{
    display: block;
    font-size: 25px;
}
nav ul{
    background: var(--maincolor);
    position: fixed;
    top:0;
    right: -200px;;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left:25px;
    cursor: pointer;
}
.subtitle{
    font-size: 40px;
}
.row{
    display: block;
}
.about-col1,.about-col2{
    flex-basis: 100%;
}
.about-col1 img{
    flex-wrap: wrap;
    width: 50%;
}
.about-col1{
    margin-bottom: 20px;
}
.about-col2{
    margin-left: 15px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}



}